body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: white;
  padding: 10px 20px;
  height: auto;
}

.hrline {
  width: 100%;
  height: 0;
  border: 1px solid rgba(218, 218, 218, 1);
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 63.41px;
  height: 77px;
}

.company-name {
  margin: 10px;
  width: 250px;
  height: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.contact-info span {
  display: flex;
  align-items: center;
}

.login-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  margin-right: 50px;
}
.login-button1{
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 8px; 
  display: none;
}
.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon img {
  width: 30px;
  height: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.navbar {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.navbar li {
  position: relative;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.navbar li::after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: black;
  transition: width 0.3s;
}

.navbar li:hover::after {
  width: 80%;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  width: 200px;
  padding: 5px 10px;
  border-radius: 8px;
  background: rgba(244, 244, 244, 1);
  border: 1px solid #ccc;
  padding-right: 40px;
}

.search-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button img {
  width: 16px;
  height: 16px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1000;
  border-radius: 11px;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background: rgba(236, 236, 236, 1);
}
/*Hero***************************************************************/
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.hero-pic {
  position: relative;
  width: 100%;
  height: 100%;
}

.full-width-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s;
}

.full-width-img:not(:first-child) {
  opacity: 0;
}

.full-width-img.active {
  opacity: 1;
}

@keyframes floatUp {
  from {
      opacity: 0;
      transform: translateY(100px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.hero-texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.hero-text {
  display: none;
  font-size: 3.6%;
  margin-bottom: 20px;
  font-weight: 500; /* Increased font weight */
}

.hero-text.active {
  display: block;
  animation: floatUp 1.5s ease-out forwards;
}

.welcome {
  width: auto;
  height: 267.44px;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 50px; /* Reduced line-height */
  text-align: left;
}

.spai {
  width: 228px;
  height: 144px;
  top: 577.72px;
  left: 152px;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 96px; /* Adjusted line-height */
  text-align: left;
  margin-top: -10px; /* Adjusted margin to reduce gap */
}
.grady {
position: absolute; /* Position the gradient overlay absolutely */
width: 100%; /* Make it span the full width of the hero container */
height: 291.7px; /* Adjust height as needed */
bottom: 0; /* Align it to the bottom of the hero container */
gap: 0px;
opacity: 0.5; /* Adjust opacity as needed */
background: linear-gradient(0deg, #000000 46.15%, rgba(0, 0, 0, 0) 96.1%);

}
.jointoday {
width: 200.41px;
height: 50.74px;
margin-top: -60px; /* Adjust as needed */
background: rgba(0, 0, 0, 1);
border: 2px solid rgba(255, 255, 255, 1);
display: flex;
align-items: center;
justify-content: center;


}

.jointodaytext {
font-family: "Poppins", sans-serif;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: center;
color: #ffffff; /* Ensure the text color contrasts with the background */
opacity: 1; /* Set opacity to fully visible */
}
.vertical-line {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  right: 50px;
  width: 4px;
  height: 70%;
  background-color: #fff;
  z-index: 1;
  border: none;
}
.downarrow{
  width: 17.01px;
  height: 19px;
  gap: 0px;
  opacity: 0px;
  margin-left: 50%;
  margin-top: 90px; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}

.above {
  top: -15px;
  right: 0;
}

.below {
  bottom: -15px;
  right: 0;
}

.math {
  width: 100%;
  height: auto;
  top: 780px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background: rgba(253, 252, 252, 1);
  z-index: 2;
}
.math-text{
  justify-content: space-between; 
  flex-direction: column;
  display: flex;
}
.math-title{
  width: auto;
  height: 24px;
  margin-top: 30px;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  text-align: center;
    
}
.math-num{
  width: 139px;
  height: 72px;
  margin-top: 0px;
  margin-left: 60px;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins",sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
    
}

.verti {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25%;
  width: 4px;
  height: 80%;
  background-color: rgba(218, 218, 218, 1);
  z-index: 1;
  border: none;
  border-radius: 50%;
}

  /*********************************

/*news and Eventsssss*************************************/
.news-title {
  justify-content: center;
  margin-top: 10%;
  width: 100%;
  height: 48px;
  align-items: center;
  font-family: "Poppins",sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.news-containers{

  margin-top: 20px;
  
  display: flex; /* Use flexbox */
  flex-wrap: wrap;
  justify-content: center;
  gap: 6%;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.news-containers.visible {
  opacity: 1;
  transform: translateY(0);
}
.news-container{
  width: 325px;
  height: 366px;
  border-radius: 18px;
  margin: 15px;
  gap: 0px;
  border: 2px;
  opacity: 0px;
  border: 2px solid #909090

}
.news-img img{
  width: 314px;
  height: 196px;
  border-radius: 18px;
  margin: 5px;


}
.news-head{
  width: 267px;
  height: 48px;
  margin-left: 10%;
margin-right: 5px;
margin-top: 5px;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;

}
.news-dis{
  width: 292.2px;
  height: 18px;
  top: 1489px;
  left: 932px;
  gap: 0px;
  opacity: 0px;
  


margin-left: 10%;
margin-right: 10%;
margin-top: 2%;
gap: 0px;
opacity: 0px;

font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;

font-family:"Poppins",sans-serif;
font-weight:400;
}
.news-read{
  display: flex;
  width: 130px;
  height: 46px;
  border-radius: 61px;
  border: 1px solid black;
  opacity: 0px;
  margin-left: 10%;
  margin-top: 10px;
  justify-content: space-between;
  
}
.news-read p{
  width: 42px;
  height: 24px;
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-left: 20%;
  margin-top: 7%;

  
}
.news-read img{
  width: 8.19px;
  height: 8.19px;
  margin-top: 13%;
  margin-right: 20%;
  color: #000000;

}
.news-seemore{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 268.41px;
  height: 62.74px;
  margin-top: 20px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  background: rgba(0, 0, 0, 1);
  border: 2px solid rgba(255, 255, 255, 1);
}
.seemoretext{
  opacity: 1;
  font-family: "Poppins",sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 1); 
}
/************************************************/

/*Footer************************************/
footer{
  width: 100%;
  height: auto;
  margin-top: 70px;
  background: rgba(248, 248, 248, 1);

}
.footer-row{
  display: flex;
  align-items:normal;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}
.logo-foot{
  width: 63.41px;
  height: 77px;
  margin-top: 20px;
  margin-left: 44.68px;
  gap: 0px;
  opacity: 0px;

}


.companyfoot-name {
  margin: 30px;
  width: 250px;
  height: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
}
.quicklinks{
  margin-right: 10px;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.quicklinks li{
  margin-top: 10px;
  gap: 10px;
  opacity: 0px;
  font-family: "Poppins",sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;

}
.quicklinks li a{
  text-decoration: none; 
  color: inherit;
}
/***************************************/

/*Asoociate**********************/
.associate-title{
  justify-content: center;
  margin-top: 5%;
  width: 100%;
  height: 48px;
  align-items: center;
  font-family: "Poppins",sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;

}
.associate-containers{
  flex-wrap: wrap;
  margin-top: 40px;
  display: flex; /* Use flexbox */
  justify-content: center;
  gap: 6%;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.associate-containers.visible{
  opacity: 1;
  transform: translateY(0);
}

.associate-container{
  margin: 15px;
  background: rgba(248, 248, 248, 1);
  width: 240px;
  height: 151.09px;
  align-items: center;
  border-bottom: 3px solid rgba(0, 0, 0, 1);

}
.associate-container img{
  width: 90.2px;
  height: 103.49px;
  margin-left: 80px;
  margin-top: 25px;
  gap: 0px;
  opacity: 0px;
  
}
/****************************************************/

/*About.......................................*/

.about-content{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: auto;
  background: rgba(249, 250, 252, 1);
  padding: 40px; /* Add padding for better spacing */
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.about-content1{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: auto;
  background: rgba(249, 250, 252, 1);
  padding: 40px; /* Add padding for better spacing */
  box-sizing: border-box;
  z-index: 1;
}
.about-content.visible{
  opacity: 1;
  transform: translateY(0);
}

.about-text{
  width: 567.69px;
  height: auto;
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  margin-left: 10%;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  
  
}
.aboutimg{
  width: auto;
  height: auto;
  margin-left: 80px;
}
.aboutimg img{
  margin-top: 60px;
  width: 100%;
  height: auto;
}
.bg-running{
  position: absolute;
  width: 624px;
  height: 624px;
  top: 0px;
  left: 0px;
  gap: 0px;
  opacity: 0px;
  z-index: 0; 


}
/******************************************************/

/*executie************************************************/

.executie-containers{
  flex-wrap: wrap;
  margin-top: 40px;
  display: flex; /* Use flexbox */
  justify-content: center;
  gap: 2%;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  
}
.executie-containers.visible{
  opacity: 1;
  transform: translateY(0);
}
.executie-container{
  margin: 15px;
  width: 254px;
  height: 348px;
  gap: 0px;
  border-radius:12px;
  opacity: 0px;
  border: 1px solid #909090;

}
.exe-img{
  width: 254px;
  height: 259px;
  gap: 0px;
  border-radius: 12px 12px 0px 0px;
  opacity: 0px;

}
.exe-text{
  display: flex;
  
  width: 250.46px;
  height: 25.06px;
  margin-top: 15px;
  margin-left: 15px;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
    
}
.exe-text img{
  width: 12px;
  height: 12px;
  
}
.exe-phone{
  margin-left: 28px;
}
.exe-email{
  margin-left: 30px;
}

.exe-posi{
  width: 150.79px;
  height: 20.88px;
  margin-left: 15px;
  font-family: "Poppins",sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  text-align: left;
  color: rgba(163, 163, 163, 1);


  
}
/*********************************************************/
@media (max-width: 498px){
  .sep{
    margin-left: 80%;
  }
}
@media (max-width: 700px){
  .about-text{
    width: 80%;
  }
  .menu-icon{
    margin-left: 85%;
  }
  .login-button{
    display: none;
  }
  .login-button1{
    display: block;
  }
}

@media (max-width: 768px) {
  /* Mobile devices */
  .aboutimg img{
    display: none;
  }
  .top-row {
    justify-content: center;
    gap: 13px;
}
.footer-row{
  justify-content: center;
    gap: 13px;
}
.contact-info{
  gap: 10px;
  justify-content: center;
}
.sep{
  display: flex;
  
}
.menu-icon {
    display: block;
}
.navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.navbar.active {
    display: flex;
}
.nav-toggle {
    display: block;
}
.news-title{
  margin-top: 20px;
}
.news-containers{
  margin-top: 20px;
}
  .news-container{
    flex-direction: column;
      align-items: center;
      gap: 10px;
  }
  .hero-texts {
      width: 80%;
  }
  .hero-text {
      font-size: 24px;
  }
  .welcome, .spai {
      font-size: 36px;
      line-height: 40px;
  }
  .math {
      display: none;
  }
}

@media (min-width: 800px){
  .welcome{
    margin-left: -400px;
  }
  .jointoday{
    margin-left: -400px;
  }
}
@media (min-width: 1240px) {
 /* Desktop devices 1024*/

.nav {
  justify-content: space-between;
}
.navbar {
  gap: 70px;
}
.navbar li {
  display: flex;
  font-weight: 400;
  height: 30px;
}
.navbar a {
  text-align: left;
  font-weight: 400;
}
.dropdown-menu {
  width: 100%;
  height: 150.45px;
}
.welcome{
  margin-left: -600px;
}
.jointoday{
  margin-left: -600px;
}
.math {
    width: 963.25px;
    height: 151.09px;
    top: 780px; /* Adjust the top position */
    left: 50%; /* Center horizontally, but need to adjust for width */
    transform: translateX(-50%); /* Center horizontally */
    position: absolute; /* or relative, depending on your needs */
    gap: 0px;
    opacity: 1; /* Change to 1 if you want it fully visible */
    background: rgba(253, 252, 252, 1);
  
    z-index: 2;
  }

}
@media (min-width: 1240px) and (max-width: 1310px){
  .navbar{
      height: 30px;
  }
}