a{
    text-decoration: none; 
    color: inherit;
  }
table {
    width: 1052px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 17px;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgba(225, 225, 225, 1);
    overflow: hidden; /* Ensure border radius is applied correctly */
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;  
}
tbody{
    color: rgba(77, 77, 77, 1);

}
thead {
    background-color: red;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    border-radius: 0;
    border: 1px solid rgba(225, 225, 225, 1);
    background: rgba(245, 245, 245, 1);
}

td {
    border: none;
}

tr:first-child th:first-child {
    border-top-left-radius: 17px; /* Rounded corner for top-left cell */
}

tr:first-child th:last-child {
    border-top-right-radius: 17px; /* Rounded corner for top-right cell */
}

tr:last-child td:first-child {
    border-bottom-left-radius: 17px; /* Rounded corner for bottom-left cell */
}

tr:last-child td:last-child {
    border-bottom-right-radius: 17px; /* Rounded corner for bottom-right cell */
}
td img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
}
.username{
    display: flex;
    align-items: center;
}
.view{
    width: 72px;
    height: 26px;
    background: rgba(239, 239, 239, 1);
    border-radius: 17px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.view img{
    width: 15px;
    height: 10px; 
    margin-left: 5px;
    
}
.view p{
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: black;
    margin-left: 1px;     
}
.content{
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    flex-direction: column;

    gap: 20px;
}
.details_container{
    display: flex;
    flex-direction: row;
    border-radius: 18px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(241, 241, 241, 1);
    
}
.num{
    width: 50px;
    height: 50px;
    background: rgba(239, 239, 239, 1);
    margin: 10px;
    border-radius: 15px;
    align-items: center;
    position: relative;
}
.num img{
    position: absolute;
    text-align: left;
    left: 20px;
    top: 18px;

}
.num p{
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: rgba(163, 163, 163, 1);
    position: absolute;
    left: 18px;
    top: 3.5px;

}
.labels{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 28%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.labels p{
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left; 
}
.details{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px
}
.details p{
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: rgba(129, 129, 129, 1);
}
.name{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name h1{
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    
}
.pic img{
    width: 170px;
    height: 170px;
    border-radius: 17px;
    
}
.news-seemore{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200.41px;
    height: 50.74px;
    margin-top: 20px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    background: rgba(0, 0, 0, 1);
    border: 2px solid rgba(255, 255, 255, 1);
  }
  .seemoretext{
    opacity: 1;
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 1); 
  }